.app-inner {
  height: 100vh;
}
.sidebar-box {
  border-right: 1px solid lightgray;
  height: 100%;
}
.my-icon {
  font-size: 1.7rem;
}
.app-page-content {
  padding: 10px;
}
@media screen and (max-width: 1280px) {
  .sidebar-box {
    display: none;
  }
}
